.main {
  display: block;
  height: 100%;
  margin-top: 60px;
  margin-left: 150px;
}

.toggleBoxMargin {
  display: block;
  height: 100%;
  margin-top: 60px;
  margin-left: 260px;
}

@media (max-width: 600px) {
  .main {
    margin: 0 auto;
    text-align: center;
  }
}
